<p style="color: green"><%= notice %></p>

<%= render @content %>

<div>
  <%= link_to "Modifica questo contenuto", edit_content_path(@content) %> |
  <%= link_to "Torna indietro ai contenuti", contents_path %>

  <%= button_to "Elimina contenuto", @content, method: :delete %>
</div>
